<?xml version="1.0" encoding="utf-8" ?>
<!-- 依赖注入配置信息；一般不推荐在配置文件中注入，推荐使用IComponent接口特性标签，在程序集中使用实现自动注入-->
<configuration>
	<!--类型映射：用别名代替完整类型名”-->
	<aliases>
		<!--<add key="别名；唯一" value="类型别名：完整的Type值类型名，fullname"/>-->
		<add key="IF1" value="Snail.Test.Dependency.Interfaces.IFrom1,Snail.Test" />
		<add key="IF2" value="Snail.Test.Dependency.Interfaces.IFrom2,Snail.Test" />
	</aliases>

	<!--依赖类型注册容器：
	<container name="以name属性做为唯一key区分；不写则默认Default">
		<register name="名称，为空则默认Default，相同from下，name唯一；否则会出现后注册覆盖的问题" 
				  lifetime="生命周期：Transient/Singleton/Container。默认Transient瞬时"
				  from="源类型别名，或者完整的类型名；强制不能为空" to="实现类别名，或者完整的类型名；为空，则默认from值" />
	</container> 
	-->
	<container >
		<register				from="IF1" to="Snail.Test.Dependency.DataModels.To1_File,Snail.Test" />
		<register name="TKey1"  from="IF1" to="Snail.Test.Dependency.DataModels.To1_File,Snail.Test" />
	</container>
	<container name="TF2">
		<register				from="IF1" to="Snail.Test.Dependency.DataModels.To1_File,Snail.Test" />
		<register name="TKey1"  from="IF1" to="Snail.Test.Dependency.DataModels.To1_File,Snail.Test" />
	</container>
</configuration>