<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- 本地nuget包路径配置 -->
	<packageSources>
		<add key="Snail Packages" value="./packages" />
	</packageSources>
	
	<!-- 禁用的nuget包路径配置-->
	<disabledPackageSources>
		<add key="Package source" value="true" />
	</disabledPackageSources>

	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>

	<bindingRedirects>
		<add key="skip" value="False" />
	</bindingRedirects>

	<packageManagement>
		<add key="disabled" value="False" />
		<add key="format" value="0" />
	</packageManagement>
</configuration>