<?xml version="1.0" encoding="utf-8"?>
<!--配置的入口文件：管理环境配置和工作空间配置-->
<configuration>
	
	<!-- 环境变量配置；此种方式已废弃，推荐使用 file 模式
		<envs>
			<add key="环境变量名称" value="环境变量值" />
		</envs>-->
	<envs>
		<add key="Env_1" value="Env_1" />
		<add key="Env_01" value="Env_1_new" />
		<add key="Env_01" value="" />
		<add key="Env_2" value="Env_2" />
		<add key="Env_3" value="Env_3" />
	</envs>
	<!--	多个节点，覆盖上一个-->
	<envs>
		<add key="Env_3" value="Env_3_Mult" />
		<add key="Env_x" value="Env_x" />
	</envs>
	
	<!--环境变量文件配置：
		1、后续可支持一些其他配置，实现一些策略选取，自动从file配置文件中选举指定section
		2、File 模式；独立成文件，不同环境下配置不一样，减少Application自身改动导致的重置风险
		3、File 模式；需确保文件存在，若不存在则解析报错；除非强制指定 optional="true"
		<environment file="环境变量配置文件名称，相对Application.config文件目录的路径" optional="此文件是否为可选配置：true（可选配置），其他值（必须配置，不存在则报错）" />
	-->
	<environment file="Environment.config" optional="true" />

	<!-- 工作空间；将站点功能按照工作区分组，实现按区隔离：如不同区使用不同redis服务器-->
	<workspaces>
		<!--工作空间配置
			<workspace code="工作空间编码；唯一，同样用作目录名" >
				1、工作空间下的通用资源配置；内置支持属性key；key按需配置，可自定义扩展
					database		数据库服务器相关配置；
					log4net			log4net日志组件相关配置；无特殊需求，非default空间禁用此配置，会导致相同logger名覆盖的问题
					rabbitmq		rabbitmq相关配置；如服务器地址配置
					redis			redis相关配置；如服务器地址配置
					rewrite			Url重写规则配置文件
					server			站点服务器配置；
				<resource redis="Redis.config" rabbitmq="RabbitMQ.config" log4net="Log4Net.config" general="General.config" />
				2、项目组配置；用于实现工作空间下不同功能相互隔离
				<projects>
					项目下资源配置内置支持属性如下，属性值为对应配置文件名称；key按需配置，可自定义扩展
						dependency		依赖注入配置文件
						dbprovider		项目下数据库访问提供程序配置文件
						errorcode		错误编码：项目下的错误编码配置文件
						mq				发送、接收“消息队列”配置文件
						pubsub			发送、接收“发布订阅”配置文件
					<project code="项目编码；workspace唯一" ioc="IoC.config" errorcode="ErrorCode.config" />
				</projects>
			</workspace>
		-->
		
		<!-- 专门测试使用 -->
		<workspace code="Test">
			<resource test-work="test-work.config" server="Server.config" redis="Redis.config" database="Database.config" rabbitmq="RabbitMQ.config" />
			<projects>
				<project code="Default" errorcode="ErrorCode.config" />
				<project code="Project" test-project="test-project.config" />
				<project code="Dependency" dependency="dependency.config" />
			</projects>
		</workspace>
		<workspace code="Test1">
			<resource test-work1="test-work.config"/>
			<projects>
				<project code="Project" test-project1="test-project.config" />
			</projects>
		</workspace>
		<workspace code="Test2">
			<resource test-work2="test-work.config"/>
			<projects>
				<project code="Project" test-project2="test-project.config" />
			</projects>
		</workspace>
	</workspaces>
</configuration>