<?xml version="1.0" encoding="utf-8"?>
<!-- 环境变量相关配置
	1、从Application.config中独立出来；避免因为增加Workspace配置的改动，导致重置ens节点的风险
		每次加模块，改application.config配置，都会导致重置idworker，从而导致id重复的风险
-->
<configuration>
	<!--环境变量配置节;后续考虑增加type,外部做选取,实现环境变量快速切换；后续考虑基于机器名做自动配置节选取等功能、、、
	<section name="节点名称；默认Default">
		<add key="环境变量名称" value="环境变量值" />
	</section>
	-->
	<section>
		<add key="Env_2" value="Env_2_File" />
		<add key="Env_4" value="Env_4_File" />
		<add key="Env_5" value="" />
		<add key="Env_5" value="Env_5_File" />
	</section>

	<!--	多个节点，覆盖上一个-->
	<section>
		<add key="Env_4" value="Env_4_File2" />
		<add key="Env_10" value="Env_10_File" />
	</section>

	<!--数据库相关环境变量配置-->
	<section>
		<add key="MongoDbName_Test" value="" />
		<add key="MongoServer_Test" value="" />
	</section>
	<!--HTTP请求服务器配置-->
	<section>
		<add key="HttpServer_" value="" />
	</section>
	<!--Redis服务器配置-->
	<section>
		<add key="RedisServer_" value="" />
	</section>
	<!--RabbitMQ服务器配置-->
	<section>
		<add key="RabbitMQServer_" value="" />
</section>
	
</configuration>