<?xml version="1.0" encoding="utf-8" ?>
<!--错误编码相关配置：
		1、按照语言分组，从而实现错误编码国际化功能
		2、错误编码code同组下唯一；最好确保全局唯一，否则多站点使用时，容易出现串编码的情况
		   建议格式“部门编码@内部产品序号_数字序号”
-->
<configuration>
	<!--错误编码组：错误编码在本组下唯一，用于实现不同语言环境下，相同编码不同提示信息的需求
	<culture name="默认zh-CN。如中文：zh-CN；英语：en-US">
		<add code="错误编码值" message="具体的错误信息"></add>
	</culture>
	-->

	<!--框架内置的错误编码：后期结合http状态码做一下翻译-->
	<!--	默认语言环境：中文-->
	<culture name="zh-CN">
		<add code="0"	message="成功" />
		<add code="-1"	message="未知错误" />
		<add code="-2"	message="令牌无效" />
		<add code="-3"	message="令牌无效xxx" />
	</culture>
	<!--	英语-->
	<culture name="en-US">
		<add code="0"	message="Success" />
		<add code="-1"	message="Unknown Error" />
		<add code="-2"	message="Token Invalid" />
	</culture>
</configuration>