<?xml version="1.0" encoding="utf-8"?>
<!--	数据库相关配置-->
<configuration>
	<!--	数据库服务器地址配置
	<servers>
		<add dbcode="数据库编码；本组唯一"
			 dbtype="数据库类型：MongoDB、MySql、SqlServer、Oracle、ElasticSearch"
			 dbname="数据库名称；真实物理数据库名称，注意某些数据库大小写敏感；若为null，则默认取值code"
			 connection="数据库连接串：server=127.0.0.1; user id=root; password=XXXX; database=Test;Allow User Variables=True; pooling=true;" />
	</servers>
	-->
	<servers >
		<add dbcode="Test" dbtype="MySql"			dbname="Test" connection="server=127.0.0.1;user id=root; password=jaAED7zUngPJHyTe; database=Test;pooling=true;" />
		<add dbcode="Test" dbtype="Postgres"		dbname="Test" connection="server=127.0.0.1;user id=root; password=jaAED7zUngPJHyTe; database=Test;pooling=true;" />
		<add dbcode="Test" dbtype="MongoDB"			dbname="Test" connection="mongodb://root:jaAED7zUngPJHyTe@127.0.0.1:27017" />
		<add dbcode="Test" dbtype="ElasticSearch"	dbname="Test" connection="https://elastic:jaAED7zUngPJHyTe@127.0.0.1:9200" />
	</servers>
	
</configuration>