<?xml version="1.0" encoding="utf-8"?>
<!--服务器地址相关配置：配置http=默认、https环境下服务器地址选项-->
<configuration>
	<!-- 服务器组：每一组框定本工作空间下的所有服务器地址配置；不使用默认值匹配
	<servers type="非空；类型名；配置文件唯一；取值：http、https、web、sdk、grpc">
		<add code="服务器编码code；本组唯一即可" server="服务器地址" />
	</servers>-->

	<servers>
		<add code="BAIDU" server="https://www.baidu.com" />
	</servers>
</configuration>